DESPESA
Convert Data
ajustar Valor
remove valores Vazios em Fornecedor e Valor(media)

ORCAMENTO
Valor CORRIGIR formatação
Juntar MES/ANO

In [37]:
import pandas as pd

df_despesas = pd.read_excel('webscraping_despesas.xlsx')
df_orcamento = pd.read_excel('webscraping_orcamentos.xlsx')

df_despesas

,id_despesa,setor,tipo,fornecedor,valor,data
0,1,Financeiro,Salário,Teixeira,11670.10,1723939200000
1,2,Logística,Água,Nunes,17394.82,1726358400000
2,3,Financeiro,Água,Moura S/A,19787.46,1724284800000
3,4,Produção,Compra Matéria-prima,Barros,2159.77,1725235200000
4,5,RH,Internet,Mendes - EI,7390.20,1738454400000
...,...,...,...,...,...,...
195,196,Produção,Energia,da Cunha Mendes e Filhos,15225.10,1727913600000
196,197,RH,Salário,Pires e Filhos,16460.68,1721347200000
197,198,Financeiro,Água,Nascimento,12795.28,1729987200000
198,199,Logística,Compra Matéria-prima,da Costa,9634.17,1723852800000
199,200,Produção,Salário,Porto - ME,13022.00,1741564800000

In [38]:
# VALORES

# df_despesas.info()
# df_orcamento.info()

# valores corrigidos
df_despesas['valor'] = round(df_despesas['valor'], 2)
df_orcamento[['valor_previsto', 'valor_realizado']] = round(df_orcamento[['valor_previsto', 'valor_realizado']], 2)

display(df_despesas)
display(df_orcamento)

,id_despesa,setor,tipo,fornecedor,valor,data
0,1,Financeiro,Salário,Teixeira,11670.10,1723939200000
1,2,Logística,Água,Nunes,17394.82,1726358400000
2,3,Financeiro,Água,Moura S/A,19787.46,1724284800000
3,4,Produção,Compra Matéria-prima,Barros,2159.77,1725235200000
4,5,RH,Internet,Mendes - EI,7390.20,1738454400000
...,...,...,...,...,...,...
195,196,Produção,Energia,da Cunha Mendes e Filhos,15225.10,1727913600000
196,197,RH,Salário,Pires e Filhos,16460.68,1721347200000
197,198,Financeiro,Água,Nascimento,12795.28,1729987200000
198,199,Logística,Compra Matéria-prima,da Costa,9634.17,1723852800000
199,200,Produção,Salário,Porto - ME,13022.00,1741564800000

         setor  valor_previsto  valor_realizado  mes   ano
0     Produção        14045.42         15524.52    1  2024
1     Produção        42597.50         45075.42    2  2024
2     Produção        39491.52         44155.59    3  2024
3     Produção        52992.06         59965.36    4  2024
4     Produção        16198.93         15988.45    5  2024
..         ...             ...              ...  ...   ...
115  Comercial        73532.49         63496.66    8  2025
116  Comercial        46526.55        270703.31    9  2025
117  Comercial        42068.07         43491.56   10  2025
118  Comercial        79706.26         92876.93   11  2025
119  Comercial         5122.75          5623.75   12  2025

[120 rows x 5 columns]

In [39]:
# DATAS

df_despesas['data'] = pd.to_datetime(df_despesas['data'], unit='ms')
display(df_despesas)

df_orcamento['data'] = pd.to_datetime(df_orcamento['ano'].astype(str) + '-' + df_orcamento['mes'].astype(str) + '-01')
display(df_orcamento)

,id_despesa,setor,tipo,fornecedor,valor,data
0,1,Financeiro,Salário,Teixeira,11670.10,2024-08-18
1,2,Logística,Água,Nunes,17394.82,2024-09-15
2,3,Financeiro,Água,Moura S/A,19787.46,2024-08-22
3,4,Produção,Compra Matéria-prima,Barros,2159.77,2024-09-02
4,5,RH,Internet,Mendes - EI,7390.20,2025-02-02
...,...,...,...,...,...,...
195,196,Produção,Energia,da Cunha Mendes e Filhos,15225.10,2024-10-03
196,197,RH,Salário,Pires e Filhos,16460.68,2024-07-19
197,198,Financeiro,Água,Nascimento,12795.28,2024-10-27
198,199,Logística,Compra Matéria-prima,da Costa,9634.17,2024-08-17
199,200,Produção,Salário,Porto - ME,13022.00,2025-03-10

         setor  valor_previsto  valor_realizado  mes   ano       data
0     Produção        14045.42         15524.52    1  2024 2024-01-01
1     Produção        42597.50         45075.42    2  2024 2024-02-01
2     Produção        39491.52         44155.59    3  2024 2024-03-01
3     Produção        52992.06         59965.36    4  2024 2024-04-01
4     Produção        16198.93         15988.45    5  2024 2024-05-01
..         ...             ...              ...  ...   ...        ...
115  Comercial        73532.49         63496.66    8  2025 2025-08-01
116  Comercial        46526.55        270703.31    9  2025 2025-09-01
117  Comercial        42068.07         43491.56   10  2025 2025-10-01
118  Comercial        79706.26         92876.93   11  2025 2025-11-01
119  Comercial         5122.75          5623.75   12  2025 2025-12-01

[120 rows x 6 columns]

In [40]:
df_despesas['fornecedor'] = df_despesas['fornecedor'].fillna('Desconhecido')

despesas_media_valor = round(df_despesas['valor'].mean(), 2)
df_despesas['valor'] = df_despesas['valor'].fillna(despesas_media_valor)

In [41]:
df_despesas.to_excel('despesas.xlsx', index=False)
df_orcamento.to_excel('orcamento.xlsx', index=False)